{% extends 'base.html.twig' %}

{% block title %}Accueil! {{ parent() }}{% endblock %}

{% block body %}
<p>navigation</p>
    <p>TODO :Filtrer les sorties (formulaire recherche)</p>
    <p>afficher liste sortie</p>
    <p>bouton creer une sortie</p>
{% endblock %}
